.page-header{
 background-color:$header-background-color;
 border-bottom: 1px solid $header-border-color;
}

.page-header__container{
position: relative;

@include value-above($tablet){
    display: flex;
    justify-content: space-between;
}
}
.page-header__logo{
    // margin-right: 93px;
    color:$brand-text-color;
  }

