.team {

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width:$desktop) {
    padding-top:  $section-padding;
    padding-bottom:  $section-padding;
  } 
      background-color:$white-background-color;
      &__title {
        display: flex;
        justify-content: center;
        font-size: 28px;
        line-height: calc(33/28);

@media screen and(min-width:$desktop) {
      font-size: 36px;
      line-height: calc(42/36);
    }
      letter-spacing: $basic-letter-spacing;
      color:$brand-text-color;
      }
      &__list {
        margin-top: $basic-item-gap;
        display: flex;
        flex-direction: column;
        gap:$basic-item-gap;
        margin-left: 0;
        margin-bottom: 0;
        justify-content: center;
        padding-left: 0;

        @media screen and(min-width:$desktop) {
          margin-top: 50px;
          display: flex;
          flex-direction: row;
         
        }
        @media screen and (min-width: $tablet) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
      }
    
    .employee {

    

        width: 100%;
      background-color: $white-text-color;
      box-shadow: $shadow;
      border-radius: 0px 0px 4px 4px;

 
      @media screen and (min-width: $tablet) {
        width: 354px;
      }
      @media screen and (min-width: $desktop) {
        width: 270px;

      }
    
      &__info {
        padding-top: $basic-item-gap;
        padding-bottom: 24px;
        @media screen and(min-width:$desktop) {
          padding-bottom: $basic-item-gap;
        }

      }
      &__name {
      display: flex;
        font-weight: 500;
        font-size: 16px;
      line-height: calc(19/16);
      justify-content:center;
      letter-spacing: $basic-letter-spacing;
      color: $brand-text-color;
      }
      &__job {
        margin-top: $secondary-item-gap;
        font-size: 16px;
      line-height: calc(19/16);
      
      text-align: center;
      letter-spacing: $basic-letter-spacing;
      color: $secondary-text-color;
      }
      &-social {
  
        background-color: $white-text-color;
        fill: $link-icon-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      }
      .socials-list {
        display: flex;
        justify-content:center;
         padding-left:0;
        margin-top: 16px;
        gap:$secondary-item-gap;
       
        }